@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
:root {
  font-size: 16px;
}

body {
  max-width: 1920px;
}

#menu-header a {
  font-size: 40px;
}

#operation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#operation ul li {
  width: 70%;
  text-align: center;
  align-items: center;
  height: 80px;
  display: flex;
  justify-content: center;
}
#operation ul li:before {
  top: 30px;
}

#restaurants {
  grid-gap: 2rem;
}
#restaurants article a figure img {
  height: calc(100% - 80px);
}
#restaurants article a figure figcaption {
  height: 80px;
  padding: 10px;
}

/*# sourceMappingURL=desktop.css.map */
