@import 'utils/variables';
@import 'utils/fonts';
@import 'utils/mixins';

:root {
  font-size: 16px;
}

body {
  max-width: 1920px;
}

#menu-header a {
  font-size: 40px;
}

#operation {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      width: 70%;
      text-align: center;
      align-items: center;
      height: 80px;
      display: flex;
      justify-content: center;
      &:before {
        top: 30px;
      }
    }
  }
}

#restaurants {
  grid-gap: 2rem;
  article {
    a {
      figure {
        img {
          height: calc(100% - 80px);
        }
        figcaption {
          height: 80px;
          padding: 10px;
        }
      }
    }
  }
}
