@import 'utils/variables';
@import 'utils/fonts';
@import 'utils/mixins';
@import 'utils/animations';

:root {
  font-size: 14px;
  font-family: $text-font;
}

body {
  margin: auto;
  display: grid;
  grid-template-areas:
          "header-body"
          "operation"
          "restaurants"
          "footer-body";

  h1 {
    font-size: 2rem;
    color: black;
  }

  h2 {
    font-size: 1.3rem;
    color: black;
  }

  h3 {
    font-size: 1.25rem;
    color: black;
  }

  h4 {
    font-size: 1.2rem;
    color: black;
  }

  h5 {
    font-size: 1.15rem;
    color: black;
  }

  h6 {
    font-size: 1.1rem;
    color: black;
  }

  z-index: 50;
}

#header {
  position: relative;

  > a {
    text-align: center;
    display: block;
    text-decoration: none;

    h1 {
      font-family: $title-font;
      height: 60px;
      line-height: 60px;
      text-align: center;
    }
  }

  form {
    display: grid;
    grid-gap: 20px;

    label {
      background-color: #eaeaea;
      box-shadow: inset 0 2px 6px 0 #00000045;
      @include flex-center();

      i {
        text-align: center;
      }

      input {
        background-color: #eaeaea;
        border: none transparent;
        margin-top: 6px;
        margin-bottom: 2px;
        height: 30px;
        text-align: center;
      }
    }

    h1 {
      text-align: center;
      display: block;
    }

    p {
      text-align: center;
      display: block;
      padding: 16px;
    }

    button {
      padding: 15px;
      border-radius: 25px;
      color: white;
      border: none;
      box-shadow: 0 8px 6px -6px black;
      font-weight: 400;
      margin: 10px auto;
      @include bg-button-color();
      width: 50%;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

#operation {
  > h2 {
    grid-area: operation-h2;
  }

  .operation-choose {
    grid-area: operation-choose;
  }

  .operation-compose {
    grid-area: operation-compose;
  }

  .operation-degustation {
    grid-area: operation-degustation;
  }

  padding: 10px;

  ul {
    display: grid;
    grid-area: operation;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
          "operation-choose"
          "operation-compose"
          "operation-degustation";
    grid-gap: 1rem;
    padding: 10px;

    li {
      border-radius: 20px;
      box-shadow: 0 5px 10px silver;
      padding: 0 30px;
      position: relative;
      width: 100%;
      line-height: 50px;
      font-weight: bold;

      &:before {
        background-color: $primary-color;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        height: 20px;
        width: 20px;
        line-height: 20px;
        top: 15px;
        left: -10px;
        color: white;
      }

      &:nth-child(1):before {
        content: "1";
      }

      &:nth-child(2):before {
        content: "2";
      }

      &:nth-child(3):before {
        content: "3";
      }

      &:nth-child(3) {
        & > i {
          color: $primary-color;
        }
      }

      &:last-child {
        background-color: #f1e5fd
      }

      > i {
        width: 30px;
      }


    }
  }
}

#restaurants {
  > h2 {
    grid-area: restaurants-h2;
  }

  .restaurants-one {
    grid-area: restaurants-one;
  }

  .restaurants-two {
    grid-area: restaurants-two;
  }

  .restaurants-three {
    grid-area: restaurants-three;
  }

  .restaurants-four {
    grid-area: restaurants-four;
  }

  display: grid;
  grid-area: restaurants;
  grid-template-rows: auto repeat(4, 250px);
  grid-template-columns: 1fr;
  grid-template-areas:
          "restaurants-h2"
          "restaurants-one"
          "restaurants-two"
          "restaurants-three"
          "restaurants-four";
  grid-gap: 1rem;

  padding: 10px;

  article {
    border-radius: 20px;
    box-shadow: 0 5px 10px silver;

    a {
      display: block;
      height: 100%;

      figure {
        height: 100%;
        position: relative;

        img {
          height: calc(100% - 70px);
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
        }

        figcaption {
          height: 70px;
          padding: 10px;

          i {
            position: absolute;
            bottom: 25px;
            right: 20px;
            font-size: 20px;

            &.far {
              &:hover ~ .fas {
                transform: scale(1);
                transition: transform 400ms;
              }
            }

            &.fas {
              transform: scale(0);
              @include gradientColor;

              &:hover {
                transform: scale(1);
                transition: transform 400ms;
              }
            }
          }

          p {
            color: black;
          }

          span {
            background-color: $tertiary-color;
            color: #008766;
            position: absolute;
            border-radius: 3px;
            right: 15px;
            padding: 5px 10px 5px 10px;
            font-weight: 500;
            top: 15px;
          }
        }
      }
    }
  }
}

#menu-header {
  a {
    left: 25px;
    top: 15px;
    position: absolute;
    font-size: 25px;
    color: black;

    i {
      height: 30px;
    }
  }

  h1 {
    font-family: $title-font;
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}


#menus {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -50px;
  padding: 10px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $title-font;
    padding: 10px;

    i {
      position: absolute;
      right: 30px;
      font-size: 20px;

      &.far {
        &:hover ~ .fas {
          transform: scale(1);
          transition: transform 400ms;
        }
      }

      &.fas {
        transform: scale(0);
        @include gradientColor;

        &:hover {
          transform: scale(1);
          transition: transform 400ms;
        }
      }
    }
  }

  form {
    padding: 10px;

    > h2 {
      > span {
        border-bottom: 2px solid $tertiary-color;
      }
    }

    fieldset {
      border: unset;
      display: grid;
      grid-gap: 1rem;
      margin: 0;
      padding: 10px 0;

      div {
        transform-origin: bottom;
        animation-name: menu-card;
        animation-duration: 1000ms;
        animation-fill-mode: both;
        display: flex;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
        position: relative;
        width: 100%;

        label {
          display: inline-block;
          position: relative;
          width: 100%;
          padding: 15px;
          font-size: 15px;
          overflow: hidden;

          &:hover {
            width: 75%;
          }

          > span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 13px;

            &:first-child {
              font-weight: bold;
              font-size: 15px;
              display: block;
            }

            &:last-child {
              font-size: 15px;
              position: absolute;
              top: 20px;
              right: 15px;
            }

            &:not(:last-child) {
              padding-right: 40px;
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }

        &:nth-child(1) {
          animation-delay: 50ms
        }

        &:nth-child(2) {
          animation-delay: 300ms
        }

        &:nth-child(3) {
          animation-delay: 400ms
        }

        &:nth-child(4) {
          animation-delay: 700ms
        }

        > span {
          background-color: $tertiary-color;
          line-height: 50px;
          text-align: center;
          opacity: 0;
          height: 100%;
          width: 0;
          vertical-align: middle;
          //display: none;

          &:after {
            font-family: "Font Awesome 5 Pro", serif;
            content: "\f058";
            display: inline;
            color: white;
            font-weight: 900;
            border-radius: 0 12px 12px 0;
            font-size: 2rem;
            transform: rotate(0);

            /*
            -webkit-transition: all 700ms ease-in-out;
            -moz-transition: all 700ms ease-in-out;
            -o-transition: all 700ms ease-in-out;
            transition: all 700ms linear;

             */
            transition: transform 2s;
          }
        }

        &:hover {
          > span {
            width: 25%;
            opacity: 1;
            border-radius: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;


            &:after {

              //display: inline;
              transform: rotate(360deg);
            }


          }
        }

        input {
          display: none;
        }

        &:hover label {
          animation: menu-animation 2s forwards;
        }

        &:hover > span {
          animation: menu-animation-second 2s forwards;
        }
      }
    }

    button {
      padding: 15px;
      border-radius: 25px;
      color: white;
      border: none;
      box-shadow: 0 8px 6px -6px black;
      font-weight: 400;
      margin: 10px auto;
      @include bg-button-color();
      @include flex-center();
      width: 50%;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

footer {
  > h2 {
    grid-area: footer-h2;
  }

  .footer-proposition {
    grid-area: footer-proposition;
  }

  .footer-become {
    grid-area: footer-become;
  }

  .footer-legals {
    grid-area: footer-legals;
  }

  .footer-contact {
    grid-area: footer-contact;
  }

  display: grid;
  grid-area: footer-body;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
          "footer-h2"
          "footer-proposition"
          "footer-become"
          "footer-legals"
          "footer-contact";
  grid-gap: 1rem;
  padding: 10px;
  background-color: $background-footer;

  h2 {
    font-family: $title-font;
    font-weight: 300;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;

    i {
      width: 20px;
    }
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  animation: screen-wait 6s forwards;

  & > div {
    height: 10rem;
    width: 10rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > span {


      width: 10rem;
      height: 10rem;
      border: 3rem solid;
      background: rgba(255, 255, 255, 0.2);
      border-color: transparent $secondary-color $secondary-color transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation-spinner 10s ease-in forwards;

      &:after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1rem solid;
        border-color: transparent $primary-color $tertiary-color transparent;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
  }
}
