@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@keyframes menu-card {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heart-gradient {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
@keyframes menu-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes menu-animation-second {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}
@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes screen-wait {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes rotation-spinner {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
    transform: rotate(360deg);
  }
}
:root {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  display: grid;
  grid-template-areas: "header-body" "operation" "restaurants" "footer-body";
  z-index: 50;
}
body h1 {
  font-size: 2rem;
  color: black;
}
body h2 {
  font-size: 1.3rem;
  color: black;
}
body h3 {
  font-size: 1.25rem;
  color: black;
}
body h4 {
  font-size: 1.2rem;
  color: black;
}
body h5 {
  font-size: 1.15rem;
  color: black;
}
body h6 {
  font-size: 1.1rem;
  color: black;
}

#header {
  position: relative;
}
#header > a {
  text-align: center;
  display: block;
  text-decoration: none;
}
#header > a h1 {
  font-family: "Shrikhand", cursive;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
#header form {
  display: grid;
  grid-gap: 20px;
}
#header form label {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 6px 0 #00000045;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header form label i {
  text-align: center;
}
#header form label input {
  background-color: #eaeaea;
  border: none transparent;
  margin-top: 6px;
  margin-bottom: 2px;
  height: 30px;
  text-align: center;
}
#header form h1 {
  text-align: center;
  display: block;
}
#header form p {
  text-align: center;
  display: block;
  padding: 16px;
}
#header form button {
  padding: 15px;
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 0 8px 6px -6px black;
  font-weight: 400;
  margin: 10px auto;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  width: 50%;
}
#header form button:hover {
  opacity: 0.8;
}

#operation {
  padding: 10px;
}
#operation > h2 {
  grid-area: operation-h2;
}
#operation .operation-choose {
  grid-area: operation-choose;
}
#operation .operation-compose {
  grid-area: operation-compose;
}
#operation .operation-degustation {
  grid-area: operation-degustation;
}
#operation ul {
  display: grid;
  grid-area: operation;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "operation-choose" "operation-compose" "operation-degustation";
  grid-gap: 1rem;
  padding: 10px;
}
#operation ul li {
  border-radius: 20px;
  box-shadow: 0 5px 10px silver;
  padding: 0 30px;
  position: relative;
  width: 100%;
  line-height: 50px;
  font-weight: bold;
}
#operation ul li:before {
  background-color: #9356DC;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  height: 20px;
  width: 20px;
  line-height: 20px;
  top: 15px;
  left: -10px;
  color: white;
}
#operation ul li:nth-child(1):before {
  content: "1";
}
#operation ul li:nth-child(2):before {
  content: "2";
}
#operation ul li:nth-child(3):before {
  content: "3";
}
#operation ul li:nth-child(3) > i {
  color: #9356DC;
}
#operation ul li:last-child {
  background-color: #f1e5fd;
}
#operation ul li > i {
  width: 30px;
}

#restaurants {
  display: grid;
  grid-area: restaurants;
  grid-template-rows: auto repeat(4, 250px);
  grid-template-columns: 1fr;
  grid-template-areas: "restaurants-h2" "restaurants-one" "restaurants-two" "restaurants-three" "restaurants-four";
  grid-gap: 1rem;
  padding: 10px;
}
#restaurants > h2 {
  grid-area: restaurants-h2;
}
#restaurants .restaurants-one {
  grid-area: restaurants-one;
}
#restaurants .restaurants-two {
  grid-area: restaurants-two;
}
#restaurants .restaurants-three {
  grid-area: restaurants-three;
}
#restaurants .restaurants-four {
  grid-area: restaurants-four;
}
#restaurants article {
  border-radius: 20px;
  box-shadow: 0 5px 10px silver;
}
#restaurants article a {
  display: block;
  height: 100%;
}
#restaurants article a figure {
  height: 100%;
  position: relative;
}
#restaurants article a figure img {
  height: calc(100% - 70px);
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#restaurants article a figure figcaption {
  height: 70px;
  padding: 10px;
}
#restaurants article a figure figcaption i {
  position: absolute;
  bottom: 25px;
  right: 20px;
  font-size: 20px;
}
#restaurants article a figure figcaption i.far:hover ~ .fas {
  transform: scale(1);
  transition: transform 400ms;
}
#restaurants article a figure figcaption i.fas {
  transform: scale(0);
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#restaurants article a figure figcaption i.fas:hover {
  transform: scale(1);
  transition: transform 400ms;
}
#restaurants article a figure figcaption p {
  color: black;
}
#restaurants article a figure figcaption span {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  border-radius: 3px;
  right: 15px;
  padding: 5px 10px 5px 10px;
  font-weight: 500;
  top: 15px;
}

#menu-header a {
  left: 25px;
  top: 15px;
  position: absolute;
  font-size: 25px;
  color: black;
}
#menu-header a i {
  height: 30px;
}
#menu-header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

img {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

#menus {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -50px;
  padding: 10px;
}
#menus header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  padding: 10px;
}
#menus header i {
  position: absolute;
  right: 30px;
  font-size: 20px;
}
#menus header i.far:hover ~ .fas {
  transform: scale(1);
  transition: transform 400ms;
}
#menus header i.fas {
  transform: scale(0);
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#menus header i.fas:hover {
  transform: scale(1);
  transition: transform 400ms;
}
#menus form {
  padding: 10px;
}
#menus form > h2 > span {
  border-bottom: 2px solid #99E2D0;
}
#menus form fieldset {
  border: unset;
  display: grid;
  grid-gap: 1rem;
  margin: 0;
  padding: 10px 0;
}
#menus form fieldset div {
  transform-origin: bottom;
  animation-name: menu-card;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  display: flex;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}
#menus form fieldset div label {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  overflow: hidden;
}
#menus form fieldset div label:hover {
  width: 75%;
}
#menus form fieldset div label > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
}
#menus form fieldset div label > span:first-child {
  font-weight: bold;
  font-size: 15px;
  display: block;
}
#menus form fieldset div label > span:last-child {
  font-size: 15px;
  position: absolute;
  top: 20px;
  right: 15px;
}
#menus form fieldset div label > span:not(:last-child) {
  padding-right: 40px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#menus form fieldset div:nth-child(1) {
  animation-delay: 50ms;
}
#menus form fieldset div:nth-child(2) {
  animation-delay: 300ms;
}
#menus form fieldset div:nth-child(3) {
  animation-delay: 400ms;
}
#menus form fieldset div:nth-child(4) {
  animation-delay: 700ms;
}
#menus form fieldset div > span {
  background-color: #99E2D0;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
#menus form fieldset div > span:after {
  font-family: "Font Awesome 5 Pro", serif;
  content: "";
  display: inline;
  color: white;
  font-weight: 900;
  border-radius: 0 12px 12px 0;
  font-size: 2rem;
  transform: rotate(0);
  /*
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
  transition: all 700ms linear;

   */
  transition: transform 2s;
}
#menus form fieldset div:hover > span {
  width: 25%;
  opacity: 1;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menus form fieldset div:hover > span:after {
  transform: rotate(360deg);
}
#menus form fieldset div input {
  display: none;
}
#menus form fieldset div:hover label {
  animation: menu-animation 2s forwards;
}
#menus form fieldset div:hover > span {
  animation: menu-animation-second 2s forwards;
}
#menus form button {
  padding: 15px;
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 0 8px 6px -6px black;
  font-weight: 400;
  margin: 10px auto;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
#menus form button:hover {
  opacity: 0.8;
}

footer {
  display: grid;
  grid-area: footer-body;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "footer-h2" "footer-proposition" "footer-become" "footer-legals" "footer-contact";
  grid-gap: 1rem;
  padding: 10px;
  background-color: #353535;
}
footer > h2 {
  grid-area: footer-h2;
}
footer .footer-proposition {
  grid-area: footer-proposition;
}
footer .footer-become {
  grid-area: footer-become;
}
footer .footer-legals {
  grid-area: footer-legals;
}
footer .footer-contact {
  grid-area: footer-contact;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a i {
  width: 20px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  animation: screen-wait 6s forwards;
}
#loader > div {
  height: 10rem;
  width: 10rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader > div > span {
  width: 10rem;
  height: 10rem;
  border: 3rem solid;
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent #FF79DA #FF79DA transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-spinner 10s ease-in forwards;
}
#loader > div > span:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1rem solid;
  border-color: transparent #9356DC #99E2D0 transparent;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
