@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
:root {
  font-size: 13px;
}

#operation ul {
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: 1fr;
  grid-template-areas: "operation-choose" "operation-compose" "operation-degustation";
  grid-gap: 1rem;
}

#restaurants {
  grid-template-rows: 40px repeat(2, 250px);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "restaurants-h2 restaurants-h2" "restaurants-one restaurants-two" "restaurants-three restaurants-four";
  grid-gap: 1rem;
}

#menus form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "menu-one menu-two" "menu-three menu-four";
  grid-gap: 1rem;
}
#menus form fieldset div {
  margin: unset;
}
#menus form fieldset div:after {
  line-height: 100px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  margin: 1rem;
}

/*# sourceMappingURL=tablet.css.map */
