@import 'utils/fonts';
@import 'utils/mixins';

:root {
  font-size: 13px;
}

#operation {
  ul {
    grid-template-rows: repeat(3,50px);
    grid-template-columns: 1fr;
    grid-template-areas:
            "operation-choose"
            "operation-compose"
            "operation-degustation";
    grid-gap: 1rem;
  }
}

#restaurants{
  grid-template-rows: 40px repeat(2, 250px);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
          "restaurants-h2 restaurants-h2"
          "restaurants-one restaurants-two"
          "restaurants-three restaurants-four";
  grid-gap: 1rem;
}

#menus {
  form {
    fieldset {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "menu-one menu-two"
        "menu-three menu-four";
      grid-gap: 1rem;
      div {
        margin: unset;
        &:after {
          line-height: 100px;
        }
      }
    }
  }
}

footer {
  @include flex-center();
  a {
    margin: 1rem;
  }
}
