@import 'mixins';

@keyframes menu-card {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heart-gradient {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    @include gradientColor();
  }
}

@keyframes menu-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}

@keyframes menu-animation-second {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
    opacity: 1;
  }
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes screen-wait {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}

@keyframes rotation-spinner {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
    transform: rotate(360deg);
  }
}
