@import 'variables';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-button-color {
  background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
}

@mixin gradientColor {
  background: linear-gradient(180deg, $secondary-color 0%, $primary-color 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin cross {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}
